
.vscode/.advpl/_binary_class.prw
.vscode/.advpl/_binary_functions.prw
.vscode/launch.json
.vscode/settings.json
Etiquetas/.vscode/launch.json
Etiquetas/.vscode/settings.json
Etiquetas/.vscode/.advpl/_binary_functions.prw
Etiquetas/.vscode/.advpl/_binary_class.prw
